<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ] [ md:box-flex space-between align-start ]">
      {% if site.shortDesc %}
        <div>
            <h2 class="font-base text-600">{{ site.name }}</h2>
        </div>
      {% endif %}
      <div>
        {% set ariaLabel = 'footer navigation' %}
        {% include "partials/components/nav.njk" %}
        <theme-toggle></theme-toggle>
      </div>
    </div>
	 <div>
	<form
  action="https://buttondown.email/api/emails/embed-subscribe/reddy2go"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/reddy2go', 'popupwindow')"
  class="embeddable-buttondown-form" style="max-width:100%"
>	<div class="row">
  <label for="bd-email" class="column max-w-xs self-end text-right">Enter your email</label>
  <input type="email" name="email" id="bd-email" class="column border border-black"></input>
  <input type="hidden" value="1" class="column" name="embed"></input>
  <input type="submit" class="column text-black rounded-sm bg-gray-300 font-medium" value="Subscribe"></input>
 </div>
</form>
	</div>
    
  </div>
 
</footer>
