<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ] [ md:box-flex space-between align-start ]">
      {% if site.shortDesc %}
        <div>
            <h2 class="font-base text-600">{{ site.name }}</h2>
        </div>
      {% endif %}
      <div>
        {% set ariaLabel = 'footer navigation' %}
        {% include "partials/components/nav.njk" %}
        <theme-toggle></theme-toggle>
      </div>
    </div>
	<div style="display: grid; grid-template-columns: repeat(3,minmax(0,1fr)); grid-template-rows: repeat(1,minmax(0,1fr)); grid-gap: .25rem;
    gap: .25rem;">
	<form
  action="https://buttondown.email/api/emails/embed-subscribe/reddy2go"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/reddy2go', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email" style="text-align: left; max-width: 20rem; align-self: flex-end;">Enter your email</label>
  <input type="email" name="email" id="bd-email" style="border-width: 1px; --border-opacity: 1; border-color: rgba(0,0,0,var(--border-opacity));"></input>
  <input type="hidden" value="1" name="embed"></input>
  <input type="submit" style="border-radius: .125rem; --text-opacity: 1; color: rgba(0,0,0,var(--text-opacity)); --bg-opacity: 1; background-color: rgba(226,232,240,var(--bg-opacity)); font-size: medium;" value="Subscribe"></input>
  <p>
    <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
  </p>
</form>
	</div>
    {% if site.showThemeCredit %}
      <p class="[ site-foot__credit ] [ pad-top-900 ]">
        Powered by the <a href="https://hylia.website" rel="external">Hylia Eleventy Starter Kit v{{ pkg.version }}</a>.
      </p>
    {% endif %}
  </div>
</footer>
